.wrapper, .login {
    max-height: 100hv;
    max-width: 100wv;
}

.form {
    max-width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.text {
    letter-spacing: 2px;
    font-size: 1.2rem;
    line-height: 1.2;
}

.form-group {
    margin-top: 3%;
}

.title {
    font-size: 3.5rem;
    margin-top: 4%;
    margin-bottom: 7%;
    color: rgb(31, 187, 192);
    text-align: center;
}
.message {
    margin-top: 5%;
    color: red;
    font-weight: 500;
}
.to_singup, .to_login{
    color: rgb(0, 89, 255);
    margin-left: 3px;
    font-weight: 500;
}
.change_link{
    display: flex;
    font-size: 1.2rem;
    margin-top: 10px;
  }