html {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    color:#333;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow-y: auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 100px;
    opacity: 0.7;
}

.content1,
.content2,
.content3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
    color: whitesmoke;
    opacity: 0.7
}


.hidden {
    display: none;
}

span {
    float: right;
    margin: 5px;
}
.big-banner{
    background-image: url('../img/bg.jpg');
    background-size: 100%;
}

h1{
    color: whitesmoke;
}
.list-group-item.task{
    border-radius: .25rem;

}
.form-control{
    margin-top: 2px;
}