html {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 500px;
    overflow-y: auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 100px;
    opacity: 0.7;
}

.content1,
.content2,
.content3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
    color: rgb(247, 247, 251);
    opacity: 0.7;

}

.hidden {
    display: none;
}

span {
    float: right;
    margin: 5px;
}

.big-banner {
    background-image: url('../img/bg.jpg');
    background-size: inherit;

}

.app-title {
    color: rgb(247, 247, 251);
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 3rem;
}

.list-group-item.task {
    border-radius: .25rem;

}

.form-control {
    margin-top: 2px;
}